disable-indent-mod=False
enable-replacements=False
c-relations=False

# White space settings
indent=4
line-length=256
strict-indent=True
strip-comments=True
whitespace-relational=True
whitespace-logical=True
whitespace-plusminus=True
whitespace-multdiv=True
whitespace-comma=True
whitespace-intrinsics=True
whitespace-print=False
whitespace-type=False

# Control whitespace around '::' declarations
whitespace-decl=None
enable-decl=False

# Don't indent pre-processor statements
disable-fypp=True
